# --- 1. BASURA DEL IDE Y SISTEMA ---
.history/
.vscode/
.idea/
*.log

# --- 2. ARCHIVOS TEMPORALES DE WINDOWS/MAC ---
Thumbs.db
Desktop.ini
.DS_Store
# --- 3. BINARIOS ---
*.jar
*.zip
!Launcher/SKlauncher.jar
!packwiz.exe
!shaderpacks/*.zip
!.minecraft/config_overrides.zip
!config_overrides.zip
!.minecraft\index.toml

# Ignorar jars en mods, pero mantener .pw.toml
.minecraft/mods/*.jar
mods/*.jar
!.minecraft/mods_github/*.jar
